@font-face {
  font-family: 'star jedi';
  src: url(/home/jonas/.cache/.fr-rt7Sos/starjedi/Starjedi.ttf);
}

table {
  margin-top: 15px;
}

table, th, tr, td {
  border: 2px solid lightgray;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}

th {
  width: 11.11%;
}

tr {
  height: 70;
}

h1 {
  font-family: 'star jedi';
  color: yellow

}

.black-sky {
  background-color: black;
  color: white;
}